@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mondelez';
  src: url('../../public/fonts/MDLZBITETYPE_Regular.otf');
}

@font-face {
  font-family: 'Calibri';
  src: url('../../public/fonts/calibri.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Calibri';
  src: url('../../public/fonts/calibrib.ttf');
  font-weight: 700;
}
/* Body background and font setup */

body {
  @apply bg-gray-100;  /* Use Tailwind's grey-200 background color */
  font-family: 'Calibri', sans-serif;
}


